<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--
    <script src="https://kit.fontawesome.com/87c08dff42.js" crossorigin="anonymous"></script>-->
    <link rel="stylesheet" href="{% static 'learnwor/css/home.css' %}">

</head>

<body id="container">

    <nav class="navbar">
        <div id="beforeLogin">
            <button id="loginBtn" name="loginBtn">Log In
            </button>
            <button id="signupBtn" name="signupBtn">Sign Up
            </button>
        </div>

        <!-- 로그인 성공시-->
        <div id="afterLogin">
            <button id="mypageBtn" name="mypage">
                My page
            </button>
            <button id="logoutBtn" name="logout">
                Logout
            </button>
        </div>  
    </nav> 

    <div class="scrollable">


        <!--링크 페이지-->
        <div id="mainPage" class="scrollable">
            <!--로고-->     
            <h1 id="logos">
                <h1 id="logo">Learnwor</h1>
                <div class="circles">
                    <div class="circle1"></div>   
                    <div class="circle2"></div>  
                </div> 
            </h1>    
            <!--설명-->
            <div id="example">
                <p>Learnwor는 배우다라는 뜻의 Learn과 단어라는 뜻의 word를 합친 합성어입니다. </p>
                <p>저희는 비전공자들도 쉽게 뉴스를 읽을 수 있도록 어려운 단어를 쉬운 단어로 바꾸어 제공합니다.</p>
                <p>어려운 뉴스의 링크를 입력칸에 붙여넣으면 Learnwor가 쉽게 읽을 수 있도록 번역해드릴게요!</p>
            </div>
            <!--링크-->
            <form method="post" enctype="multipart/form-data" action="{% url 'home' %}" name="inputLinkForm">{% csrf_token %}
                <input type="text" placeholder="링크를 입력하세요." id="inputLink" name="inputLink">
            </form>
        </div>

        <!--원문, 번역문-->
        <div id="translatePage">
            <div>
                <h4 class="before">원문</h4>
            {% if before_news %}
            <textarea id="beforeTranslate" cols="60", rows="45" readonly>
                {{ before_news }}
            </textarea>
            {% else %}
            <textarea id="beforeTranslate" cols="60", rows="45" readonly> 뉴스 원문이 입력됩니다. 

            </textarea>
            {% endif %}
            </div>

            <div>
                <h4 class="after">번역문</h4>
                {% if after_news %}
                <textarea id="beforeTranslate" cols="60", rows="45" readonly>
                    {{ after_news }}
                </textarea>
                {% else %}
                <textarea id="beforeTranslate" cols="60", rows="45" readonly> 쉬운 단어로 번역된 내용이 입력됩니다.
    
                </textarea>
                {% endif %}   
            </div>
        </div>

    <!--소개 페이지-->
    <div class="container2">
        <!-- <div class="left-section">
            <img src="../images/IMG_3237.jpeg">
        </div> -->
        <div class="right-section">
            <div class="title">"LearnNow"란?</div>
            <div class="content">
                <h4>Learnwor는 배우다라는 뜻의 Learn과 단어라는 뜻의 word를 합친 합성어입니다. </br>
                    Learnwor는 비전공자들이 전공 뉴스를 쉽게 이해할 수 있도록 전문 용어를 일반 용어로 변환해주는 서비스를 제공합니다.  </br>
                    이를 통해 교육 불평등을 해소하고, 모든 사용자가 전문 지식에 쉽게 접근할 수 있도록 돕고자 하는 프로젝트입니다.  </br>
                    Learnwor는 복잡한 정보를 단순화하여, 지식의 장벽을 낮추고 정보 접근성을 높이는 것을 목표로 합니다.</p>
            </div>
        </div>
    </div>
{% comment %} </div> {% endcomment %}

    <!--푸터-->
    <footer>
        <p><b>Learnwor</b> Copyright &copy; <b>Ezpz Corp</b>. All Rights Reserved.</p>
    </footer>  


</div>
    <!-- 로딩 화면 -->
    <div id="loading-screen" class="modal">
        <div class="spinner"></div>
        <p>로딩 중...</p>
    </div>



<script type="module" src="{% static 'learnwor/js/home.js' %}">
</script>
</body>