<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <script src="https://kit.fontawesome.com/87c08dff42.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="{% static 'learnwor/css/mypage.css'%}">
  </head>

  <body id="container">

    <div class=navbox>
      <div class="circles">
        <div class="circle1"></div>   
        <div class="circle2"></div>  
      </div> 
      
      <nav class="navbar">
        <button id="homeBtn" name="homeBtn">Home
        </button>
        <button id="logoutBtn" name="logoutBtn">Logout
        </button>
    </nav>
    </div>

    <!-- <div class="boxs">
      <div id="box1"></div>
      <div id="box2"></div>
      <div id="box3"></div>
    </div> -->

    <div id="boxes">
      <div id="box1">
        <i id="icon" class="fa-solid fa-user fa-6x"></i>
        <h4 id="nickName"></h4>
      </div>
      <div id="box2">
        <!-- <li><label>단어명<br><label style="font-size: 17px;">단어뜻</label></label></li> -->

        <table>
          <thead>
            <tr>
              <th class=word1>단어</th>
              <th>뜻</th>
            </tr>
          </thead>
          <tbody id="tbody">
            <!-- 단어와 뜻을 2x10 형식으로 나타냅니다. -->
            
          </tbody>
        </table>
      </div>

    </div>

  </div>
    
  <footer>
    <p><b>Learnwor</b> Copyright &copy; <b>Ezpz Corp</b>. All Rights Reserved.</p>
  </footer>


  <script type="module" src="{% static 'learnwor/js/mypage.js' %}">
  </script>
  </body>
</html>