*{
    padding: 0;
    margin: 0;
    border: none;
}

/*나브 바*/
.navbar {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    /* width: 100% */
    left: 0;
    right: 0;
}
#beforeLogin{
    display: block;
}
#loginBtn{
    background-color: #9EABBC;
    border: none;
    text-decoration: none;
    text-align: center;
    font-family: 'Arsenal';
    font-style: italic;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    margin-right: 10px;
    color: #EFECEC;
}
#signupBtn{
    background-color: #9EABBC;
    border: none;
    text-decoration: none;
    text-align: center;
    font-family: 'Arsenal';
    font-style: italic;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    margin-right: 10px;
    color: #EFECEC;
}
#afterLogin {
    display: none;
}
#mypageBtn{
    background-color: #9EABBC;
    border: none;
    text-decoration: none;
    text-align: center;
    font-family: 'Arsenal';
    font-style: italic;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    margin-right: 10px;
    color: #EFECEC;
}
#logoutBtn{
    background-color: #9EABBC;
    border: none;
    text-decoration: none;
    text-align: center;
    font-family: 'Arsenal';
    font-style: italic;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    margin-right: 10px;
    color: #EFECEC;
}

#container{
    /* background-color: #ffffff; */
    background: url('../images/wave.png') left top no-repeat;
    background-size: contain;
}

.scrollable {
    text-align: center;
}
/*링크 페이지*/
#mainPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logos{
    position: relative;
    display: flex;
    justify-content: center; /* 로고를 중앙에 위치 */
    align-items: center; /* 로고를 수직 중앙에 위치 */
}

#logo{
    margin-top: 150px;
    font-family: 'Arsenal';
    font-style: italic;
    font-weight: 400;
    font-size: 130px;
    line-height: 163px;
    color: #EFECEC;
    z-index: 2; /* 로고를 원 위에 표시 */
    /* position: absolute; */

text-shadow: 4px 0px 10px rgba(0, 0, 0, 0.25);
}

.circle1{
    width: 150px;
    height: 150px;
    background: #FC6736;
    border-radius: 90px;
    position: absolute;
    top: 16%;
    left: 45%;
    /* position: relative; */
}

.circle2{
    width: 40px;
    height: 40px;
    background: #FFB0B0;
    border-radius: 90px;
    position: absolute;
    top: 13%;
    left: 40%;
    /* position: relative; */
}

#example {
    text-align: center;
}
#example p {
    margin-top: 2px;
    margin-bottom: 2px;
    font-family: 'Arsenal';
    font-size: 15px;
    line-height: 25px;
    text-align: center;

    color: #EFECEC;
}
input[type="text"] {
    margin-top: 100px;
    box-sizing: border-box;
    width: 1000px;
    height: 74px;
    left: calc(50% - 960px/2);
    top: calc(50% - 74px/2 + 177px);
    
    background: rgba(239, 236, 236, 0.9);
    border: 1px solid rgba(12, 45, 87, 0.9);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.25);
    border-radius: 90px;

    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    
    text-align:center;
    color: #9EABBC;
}

.Bhighlight {
    background-color: #FFD7D7; /* 하이라이트 색상 */
    font-weight: bold; /* 글자를 굵게 */
}

.Ahighlight{
    background-color: #FDB29A; /* 하이라이트 색상 */
    font-weight: bold; /* 글자를 굵게 */
}

#translatePage{
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px; /* 초기 너비 설정 */
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    box-sizing: border-box;
}

.before, .after{
    margin: 8px;
}

#beforeTranslate{
    margin-bottom: 30px;
    padding:0;
    border: none; /* 모든 테두리를 없애고 */
    outline: none; /* 포커스 테두리도 없애기 */
    resize: none; /* 크기 조정 기능 비활성화 */
    border-top: 2px solid #EFECEC;
    border-right: 2px solid #EFECEC;
}
#afterTranslate{
    margin-bottom: 30px;
    padding:0;
    border: none; /* 모든 테두리를 없애고 */
    outline: none; /* 포커스 테두리도 없애기 */
    resize: none; /* 크기 조정 기능 비활성화 */
    border-top: 2px solid #EFECEC;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2{
    /* position: absolute; */
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}
.left-section {
    /* position: absolute; */
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right-section {
    /* position: absolute; */
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-family: 'Arsenal', sans-serif; /* Ensure the 'Arsenal' font is loaded */
    font-style: italic;
    font-weight: 30;
    font-size: 65px;
    line-height: 163px;
    color: #0C2D57;
    text-shadow: 4px 0px 10px rgba(0, 0, 0, 0.25);
    margin: 0; /* Remove any margin that could disrupt the layout */
    padding: 20px 0; /* Provide some spacing above and below the title */
}

.content {
    display: block; /* This is the default, you can remove this line if you want */
    /* Add padding or margins as necessary */
    margin-left: 20px;
}

/* footer */
footer{
    background-color: #9EABBC;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


#loading-screen {
    display: none; /* 초기에는 숨김 */
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
    
.container, .scrollable, #container {
    width: 100%;
    padding: 0;
    margin: 0;
}